*.log
*.aux
*.toc
.vscode/tasks.json
*.fdb_latexmk
*.fls
main.pdf
*.synctex.gz
__latexindent_temp.tex
*.run.xml
*.acn
*.bcf
*.glo
*.ist
*.out
*.dvi
*/settings.json
__latexindent_temp.pdf
*.bbl
*.blg

