*.o
mandel/*
output/*
build/*
.vscode/settings.json
task1/output/mandel.png
task1/output/mandelnav.png
task2/output/mandel.png
task2/output/mandelnav.png
task3/output/mandel.png
task3/output/mandelnav.png



task3/mandel/*
task3/output/*
task3/build/*
