

# Ignore (most) binaries
/**/src/*


# Ignore Pictures 
/**/images/*.png
/**/images/*.gif
/**/images/*.jpg
/**/images/**/*.jpg
/**/images/*.png
/**/images/*.tiff


# Ignore misc congig_stuff
/**/.DS_Store
/Information_security/Ovinger/Oving_1/Oving_5/*

# Ignore VS-code config files 
/**/.vscode/

# Ignore lock on odt-files 
**/.~lock.*.odt#

# Ignore jupyter notebook checkpoints
**/.ipynb_checkpoints/*

# Ignore basix executables (Windows and linux)
**/a.out
**/*.exe

# Ignore some pip stuff as well as other unneeded pythonthings 
**/upgrade_pip.sh
**/__pycache__/*



# Ignore some large things 
/Information_security/Ovinger/Oving_2/hw2/ex_2/test/.env/

#Ignore some unneeded stuff 
**/__MACOSX
# Ignore a virtualbox 
./Information_security/virtualbox_stuff
**/Boxes2.vmwarevm/

# Ignore the locks on word-documents
**/~$*.docx

**/.vscode/

Information_security/Ovinger/Oving_1/Ex_4/._Boxes2.vmwarevm
Information_security/Ovinger/Oving_1/Ex_4/Boxes2.ovf
Information_security/Ovinger/Oving_1/Ex_4/Boxes2-disk1.vmdk
# Information_security/Ovinger/Oving_1/Ex_4/com402-hw5ex1

# A placeholder file for rewriting the broken NN miniproject
Neural_networks/Ovinger/rewrite.py

Information_security/Ovinger/Oving_3/Part_2/part_b/cleaned_ignored.txt
Information_security/Ovinger/Oving_3/Part_2/part_b/valid_ignored_input.txt
Information_security/Ovinger/Oving_3/Part_2/part_b/valid_input.txt
Information_security/Ovinger/Oving_3/Part_2/part_c/valid_ignored_input.txt
Information_security/Ovinger/Oving_3/Part_2/part_a/*_part_1_result.txt
Information_security/Ovinger/Oving_3/Part_2/part_b/*_results.txt
Information_security/Ovinger/Oving_3/Part_2/part_b/*_results.txt
Neural_networks/Ovinger/plots/*


Neural_networks/Ovinger/miniproject_1/vanilla_python/plots/
Neural_networks/Ovinger/miniproject_1/vanilla_python/*.png
Neural_networks/Ovinger/miniproject_1/vanilla_python/logs/*
Neural_networks/Ovinger/miniproject_1/unused_dump/*
Neural_networks/Ovinger/miniproject_1/vanilla_python/run_stuff.sh
Neural_networks/Ovinger/miniproject_1/Awnsers/joined_file.py
Neural_networks/Ovinger/miniproject_1/Awnsers/ad_hoc_notebook.ipynb
Neural_networks/Ovinger/miniproject_1/vanilla_python/run_stuff.sh
Neural_networks/Ovinger/miniproject_1/vanilla_python/logs/task_4_nightly_log.txt
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/old/Task 3 learning_set: number, learning_rate: 0.09, epochs: 50.png


# Unwanted plots 
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/old/Task\ 3\ *
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/Task_3_learning_set:_number,_learning_rate:_0.05,_epochs:_50.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/Task_3_learning_set:_number,_learning_rate:_0.06,_epochs:_50.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_1000_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/*
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_6/Many_convolutions.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_7/compare_depths.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_7/Learning_history_modifyed_model_on_MNIST.png
Neural_networks/Ovinger/miniproject_1/Awnsers/all_untracked_files
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/old/*


# More unwanted stuff 
# Neural_networks/Ovinger/Awnsers/Plots_and_pictures/Exercise_1/
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/Task_3_learning_set:_fashion,_learning_rate:_0.06.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_3/Task_3_learning_set:_fashion,_learning_rate:_0.07.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_1000_hidden_neurons.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_1000_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_10_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_257_hidden_neurons.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_257_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_505_hidden_neurons.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_505_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_752_hidden_neurons.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/Exercise_4_752_hidden_neurons_fashion.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_6/Many_convolutions.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_6/task_6_naive_nonconvolving_depth=2_epochs_100.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_7/Learning_history_modifyed_model_on_MNIST.png
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_7/compare_depths.png
Neural_networks/Ovinger/miniproject_1/Awnsers/wanted_files
Neural_networks/Ovinger/miniproject_1/vanilla_python/*
!Neural_networks/Ovinger/miniproject_1/vanilla_python/*.py

Neural_networks/Ovinger/miniproject_1/unused_dump/*
Neural_networks/Ovinger/miniproject_1/vanilla_python/plots/task_5/old/Task_5_1_case:_{'l2_reguarisation': 0.001}_epochs:_4.png
Neural_networks/Artifichial_neural_networks_miniprojects/miniproject_1/Awnsers/joined_file.py
Neural_networks/Artifichial_neural_networks_miniprojects/miniproject_1/Awnsers/wanted_files
Neural_networks/Ovinger/miniproject_1/vanilla_python/plots/*
Neural_networks/Ovinger/miniproject_1/vanilla_python/logs/*
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_4/Redundant_plots/
Neural_networks/Ovinger/miniproject_1/vanilla_python/results/
Neural_networks/Ovinger/miniproject_1/Awnsers/Plots_and_pictures/Exercise_5/rename.sh
**/.wolf*.py 
Information_security/Ovinger/Oving_5/task_2/plots/
Computer_vision/Ovinger/sandbox/
Computer_vision/Potentially_usefull_code_for_exercise_lecture/opencv
Computer_vision/Potentially_usefull_code_for_exercise_lecture/scipy/*
Computer_vision/Potentially_usefull_code_for_exercise_lecture/numpy/*

Neural_networks/Forelesnings_notater/Slides/Course: Artificial neural networks_files/*
Real_time_networks/FOrelesnings_notater/~$*.odt
